.days{
    display: grid;
    gap:2rem;
    color:white;
    justify-content: center;
    grid-template-columns: repeat(5,1fr);
    margin-top: 50px;
    margin: 50px 50px 10px;
}
.day_special_card{
    height: 300px;
    border:none;
    padding: 10px;
    /* font-size: 1.5rem; */
    width: fit-content;
    border-radius: 9px;
    background: #222f3c;
    box-shadow: 7px 5px .2px 0.5px  #313f4e;
}
.ptb{
    padding-top: 4px;
    padding-bottom: 6px;
}
.centre{
    color: #f8f6f8fe;
    font-size: 30px;
    display: block;
    text-align: center;
    margin-top: 50px;
}