.search{
    /* background-color: black; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap:40px;
    margin-top: 20px;
}

.search input:first-child{
    padding: 10px;
    border:none;
    border-radius: 9px;
    flex-basis:20%;
    height: 50px;
    font-size: 30px;
}
.search input::placeholder {
    font-size: 20px;
}
.search input:last-child{
    flex-basis: 5%;
    max-width: 100px;
    border:none;
    border-radius: 9px;
    padding:10px;
    background: linear-gradient(-10deg,rgb(0,0,255),rgb(238,130,238));
    font-size: 20px;
    color:rgb(255,165,0)
}